.nombreRaro {
    color: hotpink;
}

th, td {
     padding: 5px;
     text-align: center;
     float: center;
     padding-left: 10px;
}

.about {
    border: 5px solid;
    border-color: hotpink;
}

.about1{
    margin-left: 500px;
}